@import 'color.scss';

.CardAdd{
  background-color: rgba(51, 255, 226, 0.8);
  padding: 1vw;
  text-align: center;
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 40px;
  line-height: 44px;
  border-radius: 50px;
  cursor: pointer;
  color: $mainColor;
  bottom: 5vw;
  right: 5vw;
  z-index: 1;
  animation: move_web 2s linear infinite;
  @media screen and (max-width:500px){
    width: 40px;
    height: 40px;
    line-height: 32px;
    border-radius: 40px;
    bottom: 10vw;
    right: 10vw;
    animation: move_mobile 2s linear infinite;
  }
}
@keyframes move_web{
  0% {
    bottom: 5vw;
  }
  25% {
    bottom: 7vw;
  }
  50% {
    bottom: 5vw;
  }
  75% {
    bottom: 3vw;
  }
  100% {
    bottom: 5vw;
  }
}
@keyframes move_mobile{
  0% {
    bottom: 10vw;
  }
  25% {
    bottom: 13vw;
  }
  50% {
    bottom: 10vw;
  }
  75% {
    bottom: 7vw;
  }
  100% {
    bottom: 10vw;
  }
}
.CardAdd__edit{
  position: fixed;
  width: 300px;
  height: 200px;
  background-color: #f1ebda;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  z-index: 2;
  @media screen and (max-width:1023px){
    width: 40vw;
    height: 25vw;
    top: 15%;
    padding: 2vw;
  }
  @media screen and (max-width:750px){
    width: 60vw;
    height: 32vw;
    top: 15%;
    padding: 3vw;
  }
  @media screen and (max-width:500px){
    width: 80vw;
    height: 43vw;
    top: 12%;
  }
}