@import 'color.scss';

.PlayTimeCard{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  .PlayTimeCard__theater{
    margin-bottom: 10px;
    a{
      color: white;
      font-size: 18px;
      &:hover{
        color: $mainColor;
      }
    }
  }
  .PlayTimeCard__timebox{
    display: flex;
    flex-wrap: wrap;
    div{
      border: 1px solid lightgray;
      border-radius: 5px;
      padding: 7px;
      color: wheat;
      margin: 5px;  
    }
  }
}